body {
    background-color: #d3d3d3; /* substitua pela cor que você deseja */
  }

  h1 {
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #333; /* substitua pela cor que você deseja */
  }