<div class="container">
  <h1>SEJA BEM VINDO A PIZZARIA DO LUIGI 👋</h1>
  <P>Aproveite a imensa variedade de sabores e tamanhos das nossas pizzas e faça
    logo seu pedido clickando
    <a href="/novo-pedido">aqui</a>
  </P>
  <div class="div_imagem">
    <img src="../assets/pizza1.jpeg" alt="" />

    <img src="../assets/pizza2.jpg" alt="" />
  </div>

</div>