  <form action="/dados-pedido" method="post">
  <div class="container">
  <div class="divInternaIputs">
                    <input
                      id="pedido"
                      name="pedido"
                      type="number"
                      step="1"
                      class="inputs"
                      placeholder="pedido: '21'"
                    />
</div>
<div class="divBtn">
            <button id="button" type="submit">Pesquisar</button>
</div>
</form>
</div>