<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
  </head>
  <body>
    <form action="/cadastro" method="POST">
      <label for="nome">Nome: </label><br />
      <input
        type="text"
        name="nome"
        id="nome"
        placeholder="Nome do aluno"
        required
        minlength="5"
      /><br />
      <label for="email">E-mail: </label><br />
      <input
        type="email"
        id="email"
        name="email"
        placeholder="E-mail do aluno"
      /><br />
      <button type="submit" class="btn btn-outline-primary">
        Cadastrar aluno
      </button>
    </form>
  </body>
</html>
