<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fibonacci</title>
  </head>
  <body>
    <form method="post">
      <label for="nro">Nro.: </label>
      <input id="nro" type="number" />
      <button>Calcular</button>
    </form>

    <%= imprime.forEach(n=> {%>
    <p><%=n%></p>
    <% }) %>
  </body>
</html>
