table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0bc414;
  color: white;
}

.container {
  height: 71vh;
  padding: 0 25%;
}

h1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.08rem;
  color: #0bc414;

  text-transform: uppercase;

  margin: 0.5rem 0;
}

.id {
  color: red;
}

.tdSim {
  color: #0bc414;
}
.tdNao a {
  text-decoration: none;
  color: red;
}
